<app-loading [display]="isLoadingResults || isSendAction"></app-loading>
<mat-card>
  <app-content-header title="Minhas Solicitações">
    <button mat-menu-item (click)="onAdd()">
      <mat-icon>add</mat-icon>
      <span>Incluir</span>
    </button>
  </app-content-header>

  <mat-card-content class="card-content-list">
    <mat-table #table [dataSource]="dataSource" class="configuration-table" *ngIf="!isLoadingResults"
               matSort matSortActive="created"
               matSortDisableClear
               matSortDirection="asc">

      <!-- registration Column -->

      <ng-container matColumnDef="periodos">
        <mat-header-cell matHeaderCellDef>Periodos</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <div *ngFor="let periodo of row.periodos">
            {{periodo.data_inicial |date: 'dd/MM/yyyy'}} - {{periodo.data_final |date: 'dd/MM/yyyy'}}
          </div>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="abono">
        <mat-header-cell *matHeaderCellDef>Abono</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <div>
            {{row.abono ? 'Sim' : 'Não'}}
          </div>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <div *ngIf="row.status.status === 'Aguardando Aprovação'">
            <mat-icon>autorenew</mat-icon>
            {{row.status.status}}
          </div>
          <div *ngIf="row.status.status === 'Aprovado'">
            <mat-icon>thumb_up</mat-icon>
            {{row.status.status}}
          </div>
            <div *ngIf="row.status.status === 'Reprovado'">
              <mat-icon>thumb_down</mat-icon>
              {{row.status.status}}
            </div>
            <div *ngIf="row.status.status === 'Cancelada'">
              <mat-icon>cancel</mat-icon>
              {{row.status.status}}
            </div>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="id_status">
        <mat-header-cell *matHeaderCellDef>Ações</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-chip-list>
            <div *ngIf="row.status.status !== 'Aguardando Aprovação'">
              <a mat-menu-item routerLink="details/{{row.id}}">
                <mat-icon matTooltip="Visualizar">visibility</mat-icon>
              </a>
            </div>
            <div *ngIf="row.status.status === 'Aguardando Aprovação'">
              <a mat-menu-item (click)="onEdit(row)">
                <mat-icon matTooltip="Editar">create</mat-icon>
              </a>
            </div>
            <div *ngIf="row.status.status === 'Aguardando Aprovação'">
              <a mat-menu-item (click)="onRemove(row)">
                <mat-icon matTooltip="Deletar">delete_forever</mat-icon>
              </a>
            </div>
          </mat-chip-list>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" class="mat-row"></mat-row>
    </mat-table>


    <mat-paginator [length]="resultsLength" [pageSize]="pageSize" [pageIndex]="pageIndex"></mat-paginator>
  </mat-card-content>
</mat-card>
