<mat-card class="detail-card">
    <app-content-header style="color: black; font-size: 17px" title="Detalhes do Anúncio">
        <button mat-raised-button (click)="goBack()">Voltar</button>
    </app-content-header>

    <div fxLayout="column" fxLayoutAlign="start">
        <div>

            <div *ngIf="advertisement" id="advertisement">
                <h5>Titulo</h5>
                <span>{{ advertisement.title}}</span>
                <h5>Imagem do anúncio</h5>
                <img style="width: 300px; height: 300px;border-radius: 50%;" src="{{advertisement.advertisement_photo}}">
                <h5>Descrição</h5>
                <span>{{ advertisement.ds_advertisement}}</span>
                <h5>Preço</h5>
                <span>{{ advertisement.price}}</span>
                <h5>Categoria</h5>
                <span>{{ advertisement.category?.ds_category}}</span>
            <br>
              <br>
            </div>
        </div>
    </div>
    <div>
        <div>
            <h3>Informações do Usuário</h3>
        </div>
        <div *ngIf="advertisement" id="user_informations">
            <h5>Nome</h5>
            <span>{{ advertisement.user?.name}}</span>
            <h5>Foto de Perfil</h5>
            <img style="width: 300px; height: 300px;border-radius: 50%;" src="{{advertisement.user?.user_photo}}">
            <h5>CPF</h5>
            <span>{{advertisement.user?.cpf}}</span>
            <h5>RG</h5>
            <span>{{advertisement.user?.rg}}</span>
        </div>
    </div>
  <form [formGroup]="form" novalidate class="app-form" (ngSubmit)="onSubmit()">
    <mat-card-actions>
      <mat-list role="list" class="docs-markdown">
        <mat-list-item><strong>Aprovar Anúncio:</strong></mat-list-item>
        <mat-list-item>
          <mat-checkbox (change)="checkBoxChange($event) || aprove($event)">
            Aprovar
            <br>
          </mat-checkbox>
          <mat-icon>done</mat-icon>
        </mat-list-item>
        <mat-list-item>
          <mat-checkbox (change)="checkBoxChange($event) || reprove($event)">
            Reprovar
            <br>
          </mat-checkbox>
          <mat-icon>highlight_off</mat-icon>
        </mat-list-item>
      </mat-list>
    </mat-card-actions>
    <div fxLayout="row" fxLayoutAlign="flex-end">
      <div>
        <button mat-raised-button (click)="goBack()">Voltar</button>
        <button mat-raised-button color="primary" [disabled]="contentDisable">
          Enviar
        </button>
      </div>
    </div>
  </form>
</mat-card>
